@font-face {
  font-family: catpaw;
  src: url("http://localhost/petshop/assets/fonts/catpaw.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: puppy;
  src: url("http://localhost/petshop/assets/fonts/puppy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: meow;
  src: url("http://localhost/petshop/assets/fonts/honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.carta-productos {
  max-height: 220px;
}

.carousel-hero {
  object-fit: cover;
  max-height: 500px;
}

.carousel-images {
  object-fit: cover;
  max-height: 380px;
  aspect-ratio: 16/9;
}

.catpaw {
  font-family: "catpaw", sans-serif !important;
}

.puppy {
  font-family: "puppy", sans-serif !important;
}

.meow {
  font-family: "meow", sans-serif !important;
}

.boton-conoce-mas {
  color: white;
  background: orange;
  outline-color: orange;
  border-color: #c17d00;
  border-style: solid;
  text-decoration: none;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.boton-conoce-mas:hover {
  scale: 1.1;
}

.title {
  font-family: "meow", sans-serif;
  color: orange;
  font-weight: bold !important;
}
